html, body {
  background: grey;
}

.map-menu{
  margin:10px 0;
}
.tab-content{
  margin:10px 0;
}

.color {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: white;
}

.color-grid {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(7, 40px);
}

.color-elem {
  display: inline-block;
}

.map-controls{
  margin-top: 500px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "canvas menu";
}

.canvas {
  grid-area: canvas;
}

.menu-wrapper {
  grid-area: menu;
  margin: 16px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}

.letter-wrapper, .occupant-type-wrapper {
  margin-top: 16px;
}

.occupant-type-wrapper .radio-label {
  display: inline;
  margin-right: 16px;
}

hr {
  border-color: #dee2e6;
}

.character{
  display: flex;
  grid-template-areas: "color info button";
  grid-template-columns: 1fr 6fr 1fr;
  grid-column-gap: 6px;
}

.character .color-elem {
  grid-area: color;
}

.character .character-info {
  grid-area: info;
  margin: 5px 0 5px 10px;
}

.character .delete-button {
  grid-area: button;
  height: 40px;
  width: 40px;
  text-align: center;
}

.character i {
  margin: 8px 0;
}

.character :hover{
  cursor: context-menu;
}

.character-list-wrapper {
  padding: 0;
  list-style: none;
}

.active-player{
  background-color: #636161;
}

#turn-button{
  margin:0 96px;
  width: 100px;
}

.shape-picker {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.shape {
  min-height: 40px;
  width: 40px;
  background-color: #ffffff;
}

.circle {
  border-radius: 50%;
}
